div.review {
  border-style: solid;
  border-color: darkgrey;
  border-width: 1px;
  border-radius: 4px;
  background-color: white;
  padding: 4px;
}

.review-author {
  padding: 2px 0px 0px 2px;
  font-weight: bold;
  font-size: 0.8em;
}

.review-author span.descriptor {
  font-style: italic;
  font-weight: normal;
}

.map-canvas {
  width: 400px;
  height: 300px;
}

.max-height {
  min-height: 1000px;
}

.star {
  color: orange;
  float: right;
}

.map-wrap {
  display: inline-block;
  background-color: darkgrey;
  padding: 2px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

#background {
  position: fixed;
  width: 100%;
  top: 20%;
  left: 0px;
  z-index: -1;
  margin: auto;
  text-align: center;
}

#background img {
  opacity: 0.3;
}
