div.review {
  border-style: solid;
  border-color: darkgrey;
  border-width: 1px;
  border-radius: 4px;
  background-color: white;
  padding: 4px;
}

.review-author {
  padding: 2px 0px 0px 2px;
  font-weight: bold;
  font-size: 0.8em;
}

.review-author span.descriptor {
  font-style: italic;
  font-weight: normal;
}

.map-canvas {
  width: 400px;
  height: 300px;
}

.max-height {
  min-height: 1000px;
}

.star {
  color: orange;
  float: right;
}
